@import '../Assets/Colors.css';

.header-assets {
    background-image: linear-gradient(0.70turn, var(--verdigris), var(--burnt));
    width: 100%;
}

.button {
    width: 70%;
    height: 100%;
    text-decoration: none;
    padding-left: 1vw;
    padding-right: 1vw;
}

.button-text {
    font-family: introrustg-base2line;
    font-size: 15px;
    color: var(--egg-shell);
}

.grid {
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    flex-grow: 1;
    justify-content: center;
}

.grid-item {
    padding-left: 2vw;
    padding-right: 2vw;
}

.collapse-paper {
    background-image: linear-gradient(var(--verdigris), var(--burnt));
}