@keyframes textFadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

.center-space{
    height: 100vh;
    display: flex;
    color: white;
    direction: column;
    justify-content: center;
    align-items: center;
}

.catch-phrase-text{
    font-family: roboto;
    font-size: calc(12px + 2.0vw);
    animation: textFadeIn 1s;
}

.name-text{
    font-family: roboto;
    font-size: calc(10px + 2.0vw);
    animation: textFadeIn 1.5s;
}

.email-text{
    font-family: roboto;
    font-size: calc(10px + 2.5vw);
    animation: textFadeIn 2s;
}

.error-text{
    font-family: roboto;
    font-size: calc(5px + 1.5vw);
    color:red
}

.email-container {
    width: 50%;
    max-width: 50%;
    min-width: 300px;
    animation: textFadeIn 2.5s;
}

.email-textbox {
    width: 100%;
    background: 'black';
    opacity: 0.5;
}

.email-textbox-bounds {
    width: 100%;
    padding-top: 20px;
}

.email-button-bounds {
    padding-top: 20px;
    width: 50%;
}

.email-button {
    color: var(--queen-blue);
}