:root {


    --queen-blue:#33658A;
    --queen-blue-trans:rgba(51, 101, 138, .60);
    --egg-shell: #F4E8C1;
    --verdigris: #28AFB0;
    --verdigris-trans: rgb(40, 175, 176, .60);
    --burnt: #DE6E4B;
    --mango: #deb74b;
}