:root {
    --dark-teal: rgb(57, 95, 86);
    --dark-teal-trans: rgba(57, 95, 86, .60);
    --light-teal:rgb(37, 107, 90);
    --blood-orange: rgb(254, 102, 37);
    --grey: rgb(79, 107, 81);
    --dark-grey: rgb(0, 61, 89);
    --blue: rgb(118, 176, 226);
}